@{
    ViewData["Title"] = "Contact";
}
<script src="~/css/js/vendor/jquery-1.12.4.min.js"></script>
<script>
    $(document).ready(function () {
        // Handler for .ready() called.
        $('html, body').animate({
            scrollTop: $('#homecontainer').offset().top
        }, 'slow');
    });
</script>

<div style="height:800px;width:100%;" id="homecontainer">

    <div style="height:100px;width:100%;margin-top:25px;"></div>
    <h2>@ViewData["Title"]</h2>

    <h1>Enter your contact page data here </h1>

</div>
